# Node (Frontend)
**/node_modules/
**/dist/
**/build/

# Java (Backend)
**/target/
*.class
*.jar

# Python (Gateway)
**/venv/
**/__pycache__/
*.pyc

# Environment Secrets & IDEs
**/.env
**/.env.local
.vscode/
.idea/